.red, #foo { color: red !important }

@media (min-width: 30em) {
  .sm-tomato { color: tomato; background-color: hotpink; -ms-border-radius: 0 }
}

.sm-tomato::after { content: 'hello' }

.sm-tomato:first-child:last-child { opacity: .8; border-bottom: none; }

@keyframes grow {
  0% {
    opacity: 0;

    -webkit-transform: translateY(-20px) translate3d(0, 0, 0);
    -ms-transform: translateY(-20px) translate3d(0, 0, 0);
    transform: translateY(-20px) translate3d(0, 0, 0) !important;
  }

  100% {
    opacity: 1;

    -webkit-transform: translateY(0) translate3d(0, 0, 0);
    -ms-transform: translateY(0) translate3d(0, 0, 0);
    transform: translateY(0) translate3d(0, 0, 0);
  }
}
